.navbar-m{
    padding: 25px 0;
    box-shadow: $sec-shadow;
    position: relative;

    @media screen and (max-width:$screen-lg) {
        padding: 12px 0;
    }

    .nav-content{
        @include between;
        gap: 110px;

        @media screen and (max-width:$screen-lg) {
            gap: 40px;
        }

        @media screen and (max-width:$screen-md) {
            gap: 30px;
        }

        @media screen and (max-width:$screen-xs) {
            gap: 15px;
        }

        .logo{
            img{
                max-width: 110px;
                
                @media screen and (max-width:$screen-lg) {
                    max-width: 95px;
                }

                @media screen and (max-width:$screen-md) {
                    max-width: 85px;
                }

                @media screen and (max-width:$screen-sm) {
                    max-width: 75px;
                }
            }
        }

        .links-container{
            flex-grow: 1;

            @media screen and (max-width:$screen-lg) {
                flex-grow: unset;
                order: 3;
            }

            .search{
                margin-bottom: 35px;

                @media screen and (max-width:$screen-lg){
                    position: absolute;
                    top: -200px;
                    @include dir-right(50%);
                    #{$ltr} & {
                        transform: translateX(50%);
                    }
                    #{$rtl} & {
                        transform: translateX(-50%);
                    }
                    width: calc(100% - 10px);
                    z-index: 3;
                    margin-bottom: 0;
                    transition: all .8s cubic-bezier(0.68, -0.30, 0.265, 1.3);
                    box-shadow: $sec-shadow;

                    &.active{
                        top: 105px;
                    }
                }
            }

            li{
                @media screen and (max-width:$screen-lg) {
                    width: 100%
                }
            }

            .links{
                @include center;
                gap: 45px;
                transition: all .8s cubic-bezier(0.68, -0.30, 0.265, 1.3);

                @media screen and (max-width:$screen-lg) {
                    position: fixed;
                    top: 0;
                    @include dir-left(0);
                    width: 280px;
                    padding: 50px 20px 0;
                    background-color: $white;
                    box-shadow: $main-shadow;
                    height: 100vh;
                    z-index: 99999;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                    justify-content: flex-start;
                    #{$ltr} & {
                        transform: translateX(-320px);
                    }
                    #{$rtl} & {
                        transform: translateX(320px);
                    }
                }

                &.active{
                    transform: translateX(0) !important;
                }

                .logo{
                    margin: 0 auto 60px;
                    img{
                        max-width: 110px;
                    }
                }

                .links-a{
                    color: $light-color;
                    font-size: 17px;
                    position: relative;
                    transition: all .3s ease;
                    padding: 12px 5px;

                    @media screen and (max-width:$screen-lg) {
                        width: 100%;
                        display: block;
                        padding: 10px;
                        font-size: 16px;
                        border-radius: 6px;
                    }

                    &::before{
                        content: '';
                        position: absolute;
                        bottom: 0px;
                        left: 0;
                        width: 100%;
                        transform: scaleX(0);
                        height: 2px;
                        background-color: $dark;
                        transition: all .3s ease;
                        transform-origin: center;
                        border-radius: 15px;

                        @media screen and (max-width:$screen-lg) {
                            display: none;
                        }
                    }

                    &:hover{
                        color: $dark;

                        @media screen and (max-width:$screen-lg) {
                            background-color: #f8f8f8;
                        }
                    }

                    &:hover::before{
                        transform: scalex(1);
                    }

                    &.active{
                        color: $dark;

                        @media screen and (max-width:$screen-lg) {
                            background-color: #f8f8f8;
                        }

                        &::before{
                            transform: scalex(1);
                        }
                    }
                }
            }

            .mobile{
                display: none;
                @media screen and (max-width:$screen-lg) {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: 10px;

                    .search-mobile{
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        background-color: $blue;
                        width: 40px;
                        height: 40px;
                        border-radius: 5px;
                        transition: $main-transition;
                        overflow: hidden;
                        &.active{
                            box-shadow: 0 1px 5px rgb(0 0 0 / 5%);
                        }
                    
                        .search-icons{
                            display: flex;
                            min-width: 100%;
                            height: 100%;
                            transition: .3s;
                        }
                    
                        &.active .search-icons{
                            #{$ltr} & {
                                transform: translateX(-100%);
                            }
                            #{$rtl} & {
                                  transform: translateX(100%);
                              }
                        }
                    
                        .search-i{
                            min-width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            i{
                                color: $white;
                                font-size: 16px;
                            }
                        }
                    
                        .search-close i{
                            font-size: 20px;
                        }
                    }

                    .coll-icon{
                        position: relative;
                        cursor: pointer;
                        background-color: $blue;
                        width: 40px;
                        height: 40px;
                        border-radius: 5px;
                        display: flex;
                        place-items: center;
                        overflow: hidden;
                        transition: $main-transition;

                        span{
                            background-color: $white;
                            width: 25px;
                            height: 3px;
                            border-radius: 5px;
                            transition: $main-transition;
                            @include dir-right(8px);
                            position:absolute;

                            &:nth-child(1){
                                transform: translateY(-7px);
                                width: 20px;
                            }

                            &:nth-child(2){
                                transform: translateY(7px);
                                width: 12px;
                            }
                        }

                        &.active{
                            span:nth-child(1){
                                transform: translateY(0px) rotate(45deg);
                                width: 20px;
                                left: 10px;
                                transition-delay: .125s;
                                height: 2px;
                            }
                            span:nth-child(2){
                                transform: translateY(0px) rotate(495deg);
                                width: 20px;
                                left: 10px;
                                transition-delay: .25s;
                                height: 2px;
                            }
                            span:nth-child(3){
                                #{$ltr} & {
                                    transform: translatex(-100px);
                                }
                                #{$rtl} & {
                                    transform: translatex(100px);
                                }
                            }
                        }
                    }
                }

            }

        }

        .navbar-icons{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .login-anchor:hover{
                color: $light-color;
            }

            .main-btn{
                margin-top: 35px;

                @media screen and (max-width:$screen-lg) {
                    margin-top: 20px;
                }
            }

            .icons{
                display: flex;
                align-items: center;
                gap: 20px;

                .nav-i{
                    max-width: 28px;
                    cursor: pointer;

                    @media screen and (max-width:$screen-xs) {
                        max-width: 24px;
                    }
                }
            }
        }
    }
}